body{
    text-align: center;
    width: 100%;
    margin-top: 10%; 
    background-color: whitesmoke;
}

h2{
    color: white;
    background-color: rgb(128, 214, 41);
    padding: 2rem 2rem;
}

input{
    color: white;
    background-color: rgb(128, 214, 41);
    padding: 1rem 1rem; 
    border-radius: 0.5rem;
    box-sizing: calc(100% - 80px);
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
}

button{
    width: 10%;
    margin-top: 5%;
    margin-left: 45%;
    margin-right: 45%;
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: white;
    background-color: rgb(128, 214, 41);
    border-radius: 0.5rem;
}

#result{
    margin-top: 5%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(128, 214, 41);

}